*.pkl
*.npy
*.log
*.bin
*.gz
temp
model
model_files
data
logs
glue
prev_trained_model
.DS_Store
.ipynb_checkpoints
.idea
.idea/CLUE.iml
.idea/misc.iml
baselines/models_pytorch/classifier_pytorch/CLUEdatasets
baselines/models_pytorch/classifier_pytorch/*output
baselines/models/bert/*output
__pycache__
